@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: rgb(1, 22, 39);
  font-family: "Space Mono", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    monospace;
}

.btn1 {
  background: #7562e0;
  border-radius: 8px;
  padding: 10px 30px;
  color: white;
}

.btn1:hover {
  background: white;
  color: #7562e0;
}

.outline {
  outline-color: #7562e0;
}

.outline:hover {
  outline-color: white;
}
.skills {
  background: #01d293;
}


.skills:first-child {
  background: #04a776;
}

.skills:first-child:hover {
  background: #04a776;
}
.service-card {
  width: auto;
  height: 338px;
  background: transparent;
  border: 3px solid #04a776;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
  border-radius: 16px;
}

.service-card:nth-child(even) {
  border: 3px solid white;
}

.service-card:hover {
  border-color: deepskyblue;
}

::-webkit-scrollbar {
  width: 4px;
  background: #808dad;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: #171f38;
}


.custom-shadow {
  box-shadow: 10px 41px 82px rgba(1, 1, 26, 0.925); /* Red shadow with 50% opacity */
}

